<div class="row">
    <div class="col-xs-12">
        <div class="jumbotron">
            INTESTAZIONE
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Profilo</p>
            </div>
        </div>
    </div>
    <div class="col-xs-6">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Messaggi</p>
            </div>
        </div>
    </div>
    <div class="col-xs-3">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Chi seguire</p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xs-3 col-xs-offset-9">
        <div class="panel panel-default">
            <div class="panel-body">
                <p>Tendenze</p>
            </div>
        </div>
    </div>
</div>